#welcome {
  color: gold;
  text-align: right;
}
body {
	font-family: 'Old Standard TT', serif;
  background-image: url("../images/fond_ecran.jpeg");
}

.idInfo {
  display: block;
  color: red;
  margin: 0 auto;
  text-align: center;
}

.warningConnexion {
  display: none;
  position: fixed;
  top: 40%;
  left: 50%;
  height: 5rem;
  width: 20rem;
  margin-left: -10rem; 
  text-align: center;
  z-index: 10000;
  border-radius: 1rem;
  border:3px solid red;
}
.warningAddContent {
  display: none;
  margin: auto;
}


.fas:hover {
  color: gold;
}

.forms {
  margin: 0;
  padding: 0;
  border: none;
}

.searchResults {
  margin: 0;
  padding: 0;
  border: none;
  position: sticky;
  top: 3rem;
}


input[type=text], [type=email], [type=password] {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;S
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=submit] {
  background-color: grey;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: rgb(192, 192, 192);
  
}
input[placeholder=rechercher]{
  display: block;
  margin: 0.5em 0;
  height: 0.5rem;
  width: 7rem;
}

#formInscri {
	display: none;
	z-index: 1;
	border: solid white 1px;
	border-radius: 1rem;
	background-color: #000000;
	padding: 1rem;
	width: 16rem;
	margin-left: -8rem;
	position: fixed;
	top: 8rem;
	left: 50%;
}

#formConnect {
	display: none;
	border: solid white 1px;
	z-index: 1;
	border-radius: 1rem;
	background-color: #000000;
	padding: 1rem;
	width: 16rem;
	margin-left: -8rem;
	position: fixed;
	top: 8rem;
	left: 50%;
}

#inscription {
  text-shadow: -2px -2px 6px white;
}

.connexion {
  text-shadow: 2px -2px 6px white;
}

#deonnexion {
  text-shadow: 2px -2px 6px white;
  display: none;
}

#pied {
  position: fixed;
  left: 80% ;
  top: 90%;
  opacity: 0.3;
}

.warning, .warningUser, .warningCheckPass, .warningEmail, .warningCheckEmail, .warningCheckUserAuth{
	display: none;
  padding: 0.15rem 0;
  margin-top: -0.80rem;
}

.close {
	float: right;
	color: white;
	background-color: gold;
  border-radius: 50%;
}

.close:hover {
	color: white;
	background-color: red;
}
.warningUser {
  display: none;
}

h3 {
  color: white;
  text-align: center;
  margin: 0.5rem 0;
}

main {
	margin: 0.5rem 2rem;
}

a {
	text-decoration: none;
	color: whitesmoke;
}

label {
  color:white;
}

p {
	color:whitesmoke;
}

li {
	list-style: none;
	padding: 0;
}

ul{
	padding : 0;
	margin: 0;
}

header {
	padding: 0.5rem;
	background-color: black;
  display:flex;
  flex-direction: column;
}

.logo {
	display: block;
	margin: 0 auto;
	width: 4rem;
	text-align: center;
}

h1 {
	font-size: 1.8em;
	color: #B6C6D4;
	text-shadow: 1px -3px 15px grey;
	text-align: center;
}

.light {
	-webkit-animation: text-flicker-in-glow 4s linear both;
	        animation: text-flicker-in-glow 4s linear both;
}

strong {
	display: block;
	text-align: center;
}

.mainNAv {
	background-color: whitesmoke;
	padding: 1rem auto;
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
  position: sticky;
  top: 0;
  width: 100%;
  overflow: hidden;
  z-index: 1;
  box-shadow: 0px 4px 10px black;
}

.flexLiFirst{
	display: flex;
	justify-content: space-evenly;
	margin-top : 0.5rem;
}

.flexLi {
	display: flex;
	justify-content: space-around;
  align-items: center;
	border-bottom-right-radius: 1rem;
	border-bottom-left-radius: 1rem;
}

.flexLi a {
  color: black;
}

a:hover, li:hover {
	color: gold;
  font-weight: 900;
  text-decoration-line: none;
}

section {
	margin: 1rem auto;
	padding: 1rem 1rem;
	border: 1px solid black;
	border-radius: 1rem;
}
.tableauAbonnement {
  background-color: grey;
}

.tableauAbonnement article {
  display: flex;
  flex-direction: column;
  align-items: center;
	background-color: black;
	margin: 0 auto 0.5rem auto;
	width: 16rem;
	border: 1px solid white;
	border-radius: 1rem;
}
.tableauAbonnement article h3 {
  font-size: 1.2em;
  margin: 0.5rem auto 0 auto;
}

.tableauAbonnement article p {
  display: none;
  padding: 0.5rem;
  background-color:  rgb(77, 77, 77);
}

.tableauAbonnement article span {
  color: gold;
  font-weight: 50;
  font-size:0.8em;
}


.openP {
  width: 98%;
  border: 1px solid white;
  border-radius: 1rem;
  background: #bababa;
  background: -moz-linear-gradient(-45deg,  #bababa 35%, #191919 68%, #e5e5e5 100%);
  background: -webkit-linear-gradient(-45deg,  #bababa 35%,#191919 68%,#e5e5e5 100%);
  background: linear-gradient(135deg,  #bababa 35%,#191919 68%,#e5e5e5 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bababa', endColorstr='#e5e5e5',GradientType=1 );

}

h2 { 
  padding: 0.5em;
  font-size: 1.2em;
	color: black;
	text-align: center;
  border-radius: 1rem;
  width: 12rem;
  margin: 0 auto 0.5rem auto;
  background: #bababa;
  background: -moz-linear-gradient(-45deg,  #bababa 35%, #191919 68%, #e5e5e5 100%);
  background: -webkit-linear-gradient(-45deg,  #bababa 35%,#191919 68%,#e5e5e5 100%);
  background: linear-gradient(135deg,  #bababa 35%,#191919 68%,#e5e5e5 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bababa', endColorstr='#e5e5e5',GradientType=1 );


}

.backCat {
  display: none;
  margin: 0 auto 1rem auto;
}

.sectionGenre {
	background-color: black;
}
.btnAddCat, .btnAddProduct {
  display: block;
  margin:0.5rem auto;
}

#formAddCat, #formAddProduct {
  display: none;
}


/*tout nos article sont a l'interieur d'une class sectionGenre*/
.sectionGenre article{
  display: flex;
  flex-direction: column;
  align-items: center;
	background-color: grey;
  padding-bottom: 0.5rem;
  margin: 1rem auto 0 auto;
  border-radius: 1rem;
	width: 16rem;
  transition-property: transform;
  transition-duration: 0.8s;
}

.sectionGenre article:hover{
   transform: scale(1.08);
   margin: 1rem auto;
   border: 3px gold solid;
}


.sectionGenre article img {
  height: 10rem;
  width: 13rem;
  border-top: 4px solid black; 
  border-bottom:4px solid black;
}

.sectionGenre article h3 {
  margin-top: 1rem;
  font-size: 1.2em;
  color: black;
  background-color: white;
  width:100%;
  font-weight: 900;
  border-top: 2px solid black; 
  border-bottom:2px solid black;
}


.favoris {
  display: none;
  background-color: black;
  width: 100%;
  position: sticky;
  top: 2.5rem;
  z-index: 2;
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius:1rem;
}

.favoris h2 {
  color: white;
  font-size: 1em;
  background-image: none;
  text-align: center;
  width: 100%;
}
.favoris h3 {
  width: 90%;
  color: white;
  font-size: 1em;
  background-color: none;
  text-align: left;
  margin-left: 1rem;
}
.favoris h3:hover {
  width: 100%;
  color: black;
  font-size: 1em;
  background-color: white;
  margin-left: 1rem;
}



footer {
	background-color: black;
	padding: 1rem;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
}

footer div {
	text-align: center;
}
footer h4 {
  color: whitesmoke;
  font-weight: 600;
}

header a, footer a, strong {
	color: whitesmoke;
}

iframe {
  width: 100%;
  height: 12rem;
}

@media screen and (min-width: 1024px) {

 /* .favoris {
    display: none;
    background-color: black;
    width: 14rem;
    position: sticky;
    top: 2.5rem;
    right: : 0;
    margin-right: 0; 
    z-index: 2;
  }*/

  .searchResults {

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: black;
    border-radius: 1rem;
  }
  
  .searchResults article {
    width: 15rem;
  }

  main {
    margin: 1rem 10rem;
  }

  header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
  .logoH1 {
    /*margin: 0 0 0 1rem;*/
    width: 20%;

  }
  h1{
    margin: 0;
    font-size: 1.8em;
  }
  strong {
    display: block;
    text-align:center;
    font-size: 1.8em;
  }


  .flexLiFirst {
    width: 20%;
    text-align:right;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }


  footer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }

  .logo {
    ma-width: 8rem;
  }

  .aboFlex {
    display: flex;
    justify-content: space-around;
  }

  .openP {
    display:none !important;
  }

  .offre {
    display: block;
    font-size: 1.5em;
  }

  .tableauAbonnement div{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
  }
  .tableauAbonnement article {
    width: 30%;
  }
  .tableauAbonnement article p {
    display: block;
  }

  .sectionFlex {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  .sectionFlex article{
    width: 15rem;
  }

  .sectionFlexFilm{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  .sectionFlexFilm article{
    width: 15rem;
  }

  .section_Category_id {
     display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  .section_Category_id article {
    width: 15rem;
  }


  a{
    font-size: 1.2em;
  }

  h4 {
    font-size: 2em;
  }

  #formInscri {
    width: 38rem;
    margin-left: -18rem;
  }

  #formConnect {
    width: 38rem;
    margin-left: -18rem;
  }

  iframe {
  width: 100%;
  height: 35rem;
}


}
































































































































































































































































@-webkit-keyframes text-flicker-in-glow {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 0;
    text-shadow: none;
  }
  10.1% {
    opacity: 1;
    text-shadow: none;
  }
  10.2% {
    opacity: 0;
    text-shadow: none;
  }
  20% {
    opacity: 0;
    text-shadow: none;
  }
  20.1% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.25);
  }
  20.6% {
    opacity: 0;
    text-shadow: none;
  }
  30% {
    opacity: 0;
    text-shadow: none;
  }
  30.1% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.45), 0 0 60px rgba(255, 255, 255, 0.25);
  }
  30.5% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.45), 0 0 60px rgba(255, 255, 255, 0.25);
  }
  30.6% {
    opacity: 0;
    text-shadow: none;
  }
  45% {
    opacity: 0;
    text-shadow: none;
  }
  45.1% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.45), 0 0 60px rgba(255, 255, 255, 0.25);
  }
  50% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.45), 0 0 60px rgba(255, 255, 255, 0.25);
  }
  55% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.45), 0 0 60px rgba(255, 255, 255, 0.25);
  }
  55.1% {
    opacity: 0;
    text-shadow: none;
  }
  57% {
    opacity: 0;
    text-shadow: none;
  }
  57.1% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.55), 0 0 60px rgba(255, 255, 255, 0.35);
  }
  60% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.55), 0 0 60px rgba(255, 255, 255, 0.35);
  }
  60.1% {
    opacity: 0;
    text-shadow: none;
  }
  65% {
    opacity: 0;
    text-shadow: none;
  }
  65.1% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.55), 0 0 60px rgba(255, 255, 255, 0.35), 0 0 100px rgba(255, 255, 255, 0.1);
  }
  75% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.55), 0 0 60px rgba(255, 255, 255, 0.35), 0 0 100px rgba(255, 255, 255, 0.1);
  }
  75.1% {
    opacity: 0;
    text-shadow: none;
  }
  77% {
    opacity: 0;
    text-shadow: none;
  }
  77.1% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.55), 0 0 60px rgba(255, 255, 255, 0.4), 0 0 110px rgba(255, 255, 255, 0.2), 0 0 100px rgba(255, 255, 255, 0.1);
  }
  85% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.55), 0 0 60px rgba(255, 255, 255, 0.4), 0 0 110px rgba(255, 255, 255, 0.2), 0 0 100px rgba(255, 255, 255, 0.1);
  }
  85.1% {
    opacity: 0;
    text-shadow: none;
  }
  86% {
    opacity: 0;
    text-shadow: none;
  }
  86.1% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.6), 0 0 60px rgba(255, 255, 255, 0.45), 0 0 110px rgba(255, 255, 255, 0.25), 0 0 100px rgba(255, 255, 255, 0.1);
  }
  100% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.6), 0 0 60px rgba(255, 255, 255, 0.45), 0 0 110px rgba(255, 255, 255, 0.25), 0 0 100px rgba(255, 255, 255, 0.1);
  }
}
@keyframes text-flicker-in-glow {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 0;
    text-shadow: none;
  }
  10.1% {
    opacity: 1;
    text-shadow: none;
  }
  10.2% {
    opacity: 0;
    text-shadow: none;
  }
  20% {
    opacity: 0;
    text-shadow: none;
  }
  20.1% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.25);
  }
  20.6% {
    opacity: 0;
    text-shadow: none;
  }
  30% {
    opacity: 0;
    text-shadow: none;
  }
  30.1% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.45), 0 0 60px rgba(255, 255, 255, 0.25);
  }
  30.5% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.45), 0 0 60px rgba(255, 255, 255, 0.25);
  }
  30.6% {
    opacity: 0;
    text-shadow: none;
  }
  45% {
    opacity: 0;
    text-shadow: none;
  }
  45.1% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.45), 0 0 60px rgba(255, 255, 255, 0.25);
  }
  50% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.45), 0 0 60px rgba(255, 255, 255, 0.25);
  }
  55% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.45), 0 0 60px rgba(255, 255, 255, 0.25);
  }
  55.1% {
    opacity: 0;
    text-shadow: none;
  }
  57% {
    opacity: 0;
    text-shadow: none;
  }
  57.1% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.55), 0 0 60px rgba(255, 255, 255, 0.35);
  }
  60% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.55), 0 0 60px rgba(255, 255, 255, 0.35);
  }
  60.1% {
    opacity: 0;
    text-shadow: none;
  }
  65% {
    opacity: 0;
    text-shadow: none;
  }
  65.1% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.55), 0 0 60px rgba(255, 255, 255, 0.35), 0 0 100px rgba(255, 255, 255, 0.1);
  }
  75% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.55), 0 0 60px rgba(255, 255, 255, 0.35), 0 0 100px rgba(255, 255, 255, 0.1);
  }
  75.1% {
    opacity: 0;
    text-shadow: none;
  }
  77% {
    opacity: 0;
    text-shadow: none;
  }
  77.1% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.55), 0 0 60px rgba(255, 255, 255, 0.4), 0 0 110px rgba(255, 255, 255, 0.2), 0 0 100px rgba(255, 255, 255, 0.1);
  }
  85% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.55), 0 0 60px rgba(255, 255, 255, 0.4), 0 0 110px rgba(255, 255, 255, 0.2), 0 0 100px rgba(255, 255, 255, 0.1);
  }
  85.1% {
    opacity: 0;
    text-shadow: none;
  }
  86% {
    opacity: 0;
    text-shadow: none;
  }
  86.1% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.6), 0 0 60px rgba(255, 255, 255, 0.45), 0 0 110px rgba(255, 255, 255, 0.25), 0 0 100px rgba(255, 255, 255, 0.1);
  }
  100% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.6), 0 0 60px rgba(255, 255, 255, 0.45), 0 0 110px rgba(255, 255, 255, 0.25), 0 0 100px rgba(255, 255, 255, 0.1);
  }
}
