body {
	box-sizing: border-box;
	font-family: 'Old Standard TT', serif;
}

.logo {
	width: 8rem;
}

h1 {

}

.flexHeaderFooter {
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: grey;

}

.mainNav {
	display: flex;
	justify-content: space-around;
}